.cart_page {
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  padding: 32px 48px;
}
.user_info {
  gap: 16px;
  margin-bottom: 32px;
}
.user_info img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
}
.user_name {
  font-size: 21px;
  font-weight: 600;
}
.cart_bill {
  align-self: flex-end;
  width: 400px;
  border-collapse: collapse;
  font-size: 16px;
  margin-top: 16px;
  background-color: #fff;
}
.cart_bill td {
  border: 3px solid #e5e5e5;
}
.cart_bill td:last-child {
  text-align: end;
  width: 120px;
}
.cart_bill_final {
  font-size: 20px;
  font-weight: 700;
}
.checkout_button {
  align-self: flex-end;
  height: 38px !important;
  margin: 16px 0;
  padding: 0 16px !important;
}
.table_quantity_input {
  height: 50px;
  justify-content: center;
}
.cart_remove_icon {
  width: 34px;
  height: 35px;
  cursor: pointer;
}
